<p>
  advert works!
</p>


<!--<div *ngIf="advert" class="container">-->
<div class="container">
  <div class="row">
    <div *ngFor="let adver of advert" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <!--TODO s'occuper de l'image-->
        <img class="card-img-top" src="https://picsum.photos/605/100/?random" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{adver.title}}</h4>
          <p class="card-text">
            {{adver.desc}}
          </p>
          <p class="card-text">
            {{adver.price}}
          </p>
          <p class="card-text">
            {{adver.zip}}
          </p>
          <!--<a [routerLink]="['/advert/' + adver.id]" class="btn btn-primary">-->
            <!--Voir l'annonce-->
          <!--</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
