<div class="container">
  <div class="row">
    <div *ngFor="let adver of advert" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <img class="card-img-top" *ngIf="adver.picture" [src]=sanitize.bypassSecurityTrustUrl(adver.picture)>
        <div class="card-body">
          <h4 class="card-title">{{adver.title}}</h4>
          <p class="card-text">
            Annonce: {{adver.desc}}
          </p>
          <p class="card-text">
            Prix: {{adver.price}} €
          </p>
          <p class="card-text">
            Code postal: {{adver.zip}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
