<!--TODO Do not display add advert button if we are not connected-->
<!--TODO disabled button see an advert if we are not connected-->
<a *ngIf="authService.isAuthenticated" class="navbar-brand" routerLink="/addAdvert">
  <button class="alert-dark">Ajouter une annonce</button>
</a>
<div class="container">
  <div class="row">
    <div *ngFor="let advert of adverts" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{advert.title}}</h4>
          <p class="card-text">
            {{advert.desc}}
          </p>
          <a *ngIf="authService.isAuthenticated" [routerLink]="['/advert/' + advert.id]" class="btn btn-primary">
            Voir l'annonce
          </a>
        </div>
        <div class="card-footer">By {{advert.User.username}}</div>
      </div>
    </div>
  </div>
</div>

