<div class="container">
  <form class="form-group row"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="advertForm">
    <!--<fieldset>-->

      <!--___TITLE___-->
      <div class="form-group"
           [ngClass]="{'has-error': (advertForm.get('title').touched || advertForm.get('title').dirty) && !advertForm.get('title').valid }">
        <label class="col-md-2"
               for="titleId">Title</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="titleId"
                 type="text"
                 placeholder="Title (required)"
                 formControlName="title"/>
          <span class="help-block"
                *ngIf="(advertForm.get('title').touched || advertForm.get('title').dirty) && advertForm.get('title').errors">
                            <span *ngIf="advertForm.get('title').errors.required">
                                Please enter a title.
                            </span>
                            <span *ngIf="advertForm.get('title').errors.minlength">
                                The title must be longer than 5 characters.
                            </span>
                            <span *ngIf="advertForm.get('desc').errors.maxLength">
                                The title must be shorter than 40 characters.
                            </span>
          </span>
        </div>
      </div>

      <!--___PICTURE___-->
      <div class="form-group"
           [ngClass]="{'has-error': (advertForm.get('picture').touched || advertForm.get('picture').dirty) && !advertForm.get('picture').valid }">
        <label class="col-md-2 control-label"
               for="pictureId">Picture</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="pictureId"
                 type="text"
                 placeholder="First Name (required)"
                 formControlName="picture"/>
          <span class="help-block"
                *ngIf="(advertForm.get('picture').touched || advertForm.get('picture').dirty) && advertForm.get('picture').errors">
                            <span *ngIf="advertForm.get('picture').errors.required">
                                Please upload an image.
                            </span>
          </span>
        </div>
      </div>

      <!--___PRICE___-->
      <div class="form-group"
           [ngClass]="{'has-error': (advertForm.get('price').touched || advertForm.get('price').dirty) && !advertForm.get('price').valid }">
        <label class="col-md-2 control-label"
               for="priceId">Price</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="priceId"
                 type="number"
                 placeholder="price (required)"
                 formControlName="price"/>
          <span class="help-block"
                *ngIf="(advertForm.get('price').touched || advertForm.get('price').dirty) && advertForm.get('price').errors">
                            <span *ngIf="advertForm.get('price').errors.required">
                                Please give your advert a price.
                            </span>
                            <span *ngIf="advertForm.get('price').errors.min">
                                Please enter a positive price
                            </span>
          </span>
        </div>
      </div>

      <!--___DESCRIPTION___-->
      <div class="form-group"
           [ngClass]="{'has-error': (advertForm.get('desc').touched || advertForm.get('desc').dirty) && !advertForm.get('desc').valid }">
        <label class="col-md-2 control-label"
               for="descId">Description</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="descId"
                 type="text"
                 placeholder="desc (required)"
                 formControlName="desc"/>
          <span class="help-block"
                *ngIf="(advertForm.get('desc').touched || advertForm.get('desc').dirty) && advertForm.get('desc').errors">
                            <span *ngIf="advertForm.get('desc').errors.required">
                                Please give your advert a description.
                            </span>
                            <span *ngIf="advertForm.get('desc').errors.minLength">
                                The description must be longer than 10 characters.
                            </span>
                            <span *ngIf="advertForm.get('desc').errors.maxLength">
                                The description must be shorter than 500 characters.
                            </span>
          </span>
        </div>
      </div>

      <!--___ZIP___-->
      <div class="form-group"
           [ngClass]="{'has-error': (advertForm.get('zip').touched || advertForm.get('zip').dirty) && !advertForm.get('zip').valid }">
        <label class="col-md-2 control-label"
               for="zipId">Zip</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="zipId"
                 type="number"
                 placeholder="zip (required)"
                 formControlName="zip"/>
          <span class="help-block"
                *ngIf="(advertForm.get('zip').touched || advertForm.get('zip').dirty) && advertForm.get('zip').errors">
                            <span *ngIf="advertForm.get('zip').errors.required">
                                Please give your advert a zip.
                            </span>
                            <span *ngIf="advertForm.get('zip').errors.min">
                                Please enter a positive zip code.
                            </span>
          </span>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="!advertForm.valid">
                  Save
              </button>
          </span>

          <span>
            <button class="btn btn-default"
                    type="button"
                    (click)="populateTestData()">
                Populate with test data
            </button>
          </span>
        </div>
      </div>

    <!--</fieldset>-->
  </form>
  <br>Dirty: {{ advertForm.dirty }}
  <br>Touched: {{ advertForm.touched }}
  <br>Valid: {{ advertForm.valid }}
  <br>Value: {{ advertForm.value | json }}
</div>
